
table{
    margin-top:32px;
    font-size:14px;
    font-weight: 400;
    background:white;
    border-spacing: 2px;
    border-radius: 6px;
    overflow: hidden;  
    padding:12px;
    width:65%;
}

thead{
    font-weight: bold;
    color:white;
    border-color: transparent;
    color:#1F2937;
}

th, td{
   padding:8px 12px;
   text-align: center;
}

tr{
    border-bottom:1px solid #F3F4F6;
}